---
import nightcordLogo from '../assets/nightcord.svg';
---

<div id="container">
	<img class="nightcord" src={nightcordLogo.src} alt="Nightcord Logo" />
	
	<div class="projects">
		<!-- <h1>Projects</h1> -->
		<a class="project" href="https://kdx.nightcord.com.de/">
			<h2>KanadeDX</h2>
			<span>An Android/iOS port of maimaiDX arcade.</span>
		</a>
		
		<div class="cards">
			<a class="card" href="https://discord.gg/DR5zBEb47a">Join Discord</a>
			<a class="card" href="https://t.me/KanadeDX">Follow Telegram</a>
		</div>
	</div>
</div>

<style lang="less">
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

	* {
		box-sizing: border-box;
	}

	a {
		text-decoration: none;
		color: #c6c6f2;
	}

	#container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;

		background-color: rgb(54, 46, 60);
		color: #c6c6f2;

		gap: 40px;

		font-family: 'Montserrat', sans-serif;
	}

	.projects {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		min-width: 500px;
		max-width: 700px;

		h1, h2, h3 {
			margin: 0;
		}

		.project, .card {
			background: rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			padding: 20px;
			width: 100%;

			span {
				opacity: 0.8;
			}
		}

		.cards {
			display: flex;
			width: 100%;
			gap: 20px;

			a {
				text-align: center;
			}
		}
	}

	.nightcord {
		width: 300px;

		// #c6c6f2
		filter: invert(94%) sepia(68%) saturate(4836%) hue-rotate(178deg) brightness(94%) contrast(102%) drop-shadow(0 0 0.75rem rgba(152, 157, 255, 0.2));
	}
</style>
