<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>25時、ナイトコードで。</title>
		<meta name="title" content="25時、ナイトコードで。" />
		<meta name="description" content="Rhythm game fan projects." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://nightcord.com.de/" />
		<meta property="og:title" content="25時、ナイトコードで。" />
		<meta property="og:description" content="Rhythm game fan projects." />
		<meta property="og:image" content="https://nightcord.com.de/images/meta-tags.png" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://nightcord.com.de/" />
		<meta property="twitter:title" content="25時、ナイトコードで。" />
		<meta property="twitter:description" content="Rhythm game fan projects." />
		<meta property="twitter:image" content="https://nightcord.com.de/images/meta-tags.png" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
